
@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        color: rgb(4, 116, 124);
    }
</style>

<h2 class="my-2 text-center">Farmacia </h2>

<div class="card d-flex flex-row my-4 align-items-center">
    <img src="~/Content/assets/prodotti.jpg" class="card-img-top w-50" alt="Farmacia" />
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">I Nostri Prodotti</h5>
        <p class="card-text text-center">Visualizza la lista dei prodotti, aggiungine di nuovi o modifica i Prodotti già presenti in Magazzino!</p>
        @Html.ActionLink("Visualizza", "Index", "Prodotti", "", new { @class = "btn btn-custom" })
    </div>

</div>


<div class="card d-flex flex-row my-4 align-items-center">

    <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">Registra una nuova Vendita</h5>
        <p class="card-text text-center">Visualizza la lista dei Prodotti e salva una Nuova Vendita!</p>
        @Html.ActionLink("Registra Vendita", "Create", "Vendite", "", new { @class = "btn btn-custom" })
    </div>

    <img src="~/Content/assets/vendita.jpg" class="card-img-top w-50" alt="Vendita" />
</div>
<div class="d-flex justify-content-evenly ">
    <div class="form-horizontal d-flex justify-content-center  flex-column p-5">

        <h5 class="card-titlet text-center">Cerca un Prodotto</h5>
        @using (Html.BeginForm("Search", "Prodotti", FormMethod.Post))
        {
            <div class="form-group d-flex flex-column align-items-center">
                <input type="text" class="form-control mb-2" id="searchString" name="searchString" placeholder="Inserisci nome prodotto o ditta fornitrice">
                <button type="submit" class="btn btn-custom">Cerca</button>
            </div>

        }


    </div>
    <img src="~/Content/assets/searchcat.png" style="width:300px;" />
</div>





