
@{
    ViewBag.Title = "Index";
}

<h2 class="my-2">Farmacia </h2>

<div class="card d-flex flex-row my-4 align-items-center">
    <img src="~/Content/assets/prodotti.jpg" class="card-img-top w-25" alt="Farmaci" />
    <div class="card-body">
        <h5 class="card-title">I Nostri Prodotti</h5>
        <p class="card-text">Visualizza la lista dei prodotti, aggiungine di nuovi o modifica i Prodotti già presenti in Magazzino! </p>
        @Html.ActionLink("Visualizza", "Index", "Prodotti", "", new { @class = "btn btn-custom" })
    </div>
</div>

<div class="card d-flex flex-row-reverse my-4 align-items-center">
    <img src="~/Content/assets/padrone.jpg" class="card-img-top w-50" alt="Vendita" />
    <div class="card-body">
        <h5 class="card-title">I Nostri Clienti</h5>
        <p class="card-text">Visualizza la lista dei nostri Clienti, registrane di nuovi, modifica i Clienti Registrati o salva una Nuova Vendita!</p>
        @Html.ActionLink("Aggiungi Cliente", "Index", "Cliente", "", new { @class = "btn btn-custom" })
    </div>
</div>

<div class="card d-flex flex-row my-4 align-items-center">
    <img src="~/Content/assets/vendita.jpg" class="card-img-top w-50" alt="Vendita" />
    <div class="card-body">
        <h5 class="card-title">Registra una nuova Vendita</h5>
        <p class="card-text">Visualizza la lista dei Prodotti e salva una Nuova Vendita!</p>
        @Html.ActionLink("Registra Vendita", "Index", "Vendita", "", new { @class = "btn btn-custom" })
    </div>
</div>
<div class="d-flex justify-content-evenly ">
    <div class="form-horizontal d-flex justify-content-center  flex-column p-5">

        <h5 class="card-title">Cerca un Prodotto</h5>
        <input id="nameField" placeholder="Inserisci Nome Prodotto" />
        <p class="card-text">Cerca un Prodotto specifico per Nome!</p>
        <button id="searchButton" class="btn btn-custom">Cerca</button>


    </div>
    <img src="~/Content/assets/searchcat.png" style="width:300px;" />
</div>


@section scripts
{
    <script>$(document).ready(function () {
            $("#searchButton").click(function () {
                var productName = $("#nameField").val();
                $.ajax({
                    url: './Prodotto/Search',
                    type: 'GET',
                    data: { productName: productName },
                    success: function (data) {
                        console.log(data);
                        window.location.href = '/Prodotto/SearchList'
                    },
                });
            })
        })</script>
}

