<main>
    <h1 class="text-start text-custom mt-3 text-center">Benvenuti alla Clinica Veterinaria</h1>
    <div class="container">
        <div class="card mb-3 w-100 border-0 m-5 ">
            <div class="row g-0 m-3 align-items-center">
                <div class="col-md-4">
                    <img src="https://cdn.discordapp.com/attachments/1219211355882786897/1220375383678128138/Clinica2.jpg?ex=660eb624&is=65fc4124&hm=6da0072bc349d7137e5259cbaa823ea8d41947421959030aed0ec3756f587d17&" class="img-fluid shadow  " alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body px-5">
                        <h5 class="card-title text-custom">I nostri Servizi:</h5>
                        <p class="card-text ">Offriamo una vasta gamma di servizi veterinari, tra cui visite mediche di routine, vaccinazioni, chirurgia, servizi di laboratorio, radiologia e imaging, dentisteria veterinaria, trattamenti dermatologici e molto altro ancora.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 w-100 border-0 m-5  ">
            <div class="row g-0 m-3 align-items-center">
                <div class="col-md-8">
                    <div class="card-body px-5">
                        <h5 class="card-title text-custom">Il Nostro Impegno:</h5>
                        <p class="card-text ">Al di là dei servizi medici, ci impegniamo a fornire un ambiente accogliente e rassicurante per te e il tuo animale domestico. Comprendiamo che una visita veterinaria può essere stressante, quindi facciamo del nostro meglio per rendere l'esperienza il più piacevole possibile per tutti.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://static.wixstatic.com/media/a359d1_f75116203ee540f396f6729c217e7d8e~mv2.jpg/v1/fill/w_640,h_436,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/a359d1_f75116203ee540f396f6729c217e7d8e~mv2.jpg" class="img-fluid shadow " alt="...">
                </div>

            </div>
        </div>
        <div class="card mb-3 w-100 border-0 m-5 mb-5">
            <div class="row g-0 m-3 align-items-center">
                <div class="col-md-4">
                    <img src="https://veterinario.milano.it/wp-content/uploads/2022/09/veterinario-milano-2.jpg" class="img-fluid shadow " alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body px-5">
                        <h5 class="card-title text-custom">Il Nostro Team:</h5>
                        <p class="card-text ">Il nostro team è composto da veterinari altamente qualificati, tecnici dedicati e personale di supporto appassionato. Ogni membro del nostro team condivide una profonda passione per gli animali e si impegna a fornire il massimo livello di cura e attenzione.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-contact p-2 ms-4">
            <div class="row g-2 m-3 align-items-center m-5">
                <div class="col-lg-4">
                    <div class="card-body">
                        <h2 class="card-title text-custom">Orari d'apertura</h2>
                        <div class="p-3 mb-2">
                            <p class="mb-0"><strong>Lunedì - Venerdì:</strong> 08:00 - 19:00</p>
                            <p class="mb-0"><strong>Sabato:</strong> 09:00 - 17:00</p>
                            <p class="mb-3"><strong>Domenica e Festivi:</strong> Chiuso</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-body">
                        <h2 class="card-title text-custom">Come contattarci</h2>
                        <div class="p-3 mb-2">
                            <p class="mb-0"><strong>Telefono:</strong> 0123 456789</p>
                            <p class="mb-0"><strong>Email:</strong> info@clinicaveterinaria4zampe.it</p>
                            <p class="mb-3"><strong>Indirizzo:</strong> Via Roma 123, 45678 Città, Italia</p>
                        </div>
                       
                    </div>
                </div>

                <div class="col-lg-4">
                    <div id="carouselExample" class="carousel slide shadow">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://wallpapercave.com/dwp1x/wp2122158.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://getwallpapers.com/wallpaper/full/e/2/7/367328.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://getwallpapers.com/wallpaper/full/4/1/8/368180.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            </div>

        </div>
       
</main>