@{
    ViewBag.Title = "Ricovero Attivi";
}

<h2>Ricoveri Attivi</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID Animale</th>
            <th>Data Inizio Ricovero</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ricovero in Model)
        {
            <tr>
                <td>@ricovero.ID</td>
                <td>@ricovero.IDAnimale</td>
                <td>@ricovero.DataInizioRicovero</td>
                <td>@ricovero.Foto</td>
            </tr>
        }
    </tbody>
</table>