@model IEnumerable<ClinicaVeterinaria.Models.RimborsiRicoveri>
<link href="~/Assets/css/Ricoveri.css" rel="stylesheet" />
@{
    ViewBag.Title = "Rimborso Mensile";
}

<style>
    h2, th, td{
        color: rgb(4, 116, 124);
    }
</style>

<h2>Rimborsi Mensili</h2>

<div class="d-flex justify-content-end">
    @Html.ActionLink("Aggiungi Rimborso", "Aggiungi", "Rimborso", null, new { @class = "btn btn-custom mb-3" })
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Numero Identificativo</th>
                <th scope="col">Ente Rimborso</th>
                <th scope="col">Data Rimborso</th>
                <th scope="col">Importo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rimborso in Model)
            {
                <tr>
                    <td>@rimborso.IDRicovero</td>
                    <td>Comune di Roma</td>
                    <td>@rimborso.DataRimborso.ToShortDateString()</td>
                    <td>@rimborso.Importo</td>
                </tr>
            }
        </tbody>
    </table>
</div>
