@{
    ViewBag.Title = "Ricerca Microchip";
}

<style>
    h2, h5 {
        color: rgb(4, 116, 124);
    }
</style>

<div class="container mt-5 ms-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <img src="~/Assets/uploads/search.jpg" class="img-fluid rounded" alt="Immagine di ricerca" id="imgCont" />
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Inserisci il numero del microchip</h2>
            <div class="input-group mb-3">
                <input type="text" id="microchipInput" class="form-control me-3 rounded" placeholder="Inserisci il numero del microchip">
                <div class="input-group-append">
                    <button onclick="cercaAnimale()" class="btn btn-custom">Cerca</button>
                </div>
            </div>
            <div id="risultatoRicerca">
            </div>
        </div>
    </div>
</div>

<script>
    function cercaAnimale() {
        const numeroMicrochip = document.getElementById('microchipInput').value;
        fetch(`/RicercaRicovero/CercaAnimalePerMicrochip?numeroMicrochip=${numeroMicrochip}`)
            .then(response => response.json())
            .then(data => {
                let htmlContent = '';
                if (data.success) {
                    const animale = data.data;
                    const imgElement = document.getElementById('imgCont');
                    imgElement.src = animale.Foto.replace("~", "");
                    imgElement.alt = `Foto di ${animale.Nome}`;

                    htmlContent += `<div class="card border-0" style="width: 20rem;">                           
                              <div class="card-body">
                                <h5 class="card-title text-center mb-4">${animale.Nome}</h5>
                                <p class="card-text"><strong>Tipologia:</strong> ${animale.Tipologia}</p>`;
                    if (animale.DataRicovero) {
                        htmlContent += `<p class="card-text"><strong>Data di Ricovero:</strong> ${animale.DataRicovero}</p>`;
                    }
                    htmlContent += `</div></div>`;
                } else {               
                    htmlContent = `<div class="alert alert-danger" role="alert">
                             ${data.message}
                           </div>`;
                }
                document.getElementById('risultatoRicerca').innerHTML = htmlContent;
            })
            .catch(error => {
                console.log(error);
                document.getElementById('risultatoRicerca').innerHTML = `<div class="alert alert-danger" role="alert">Animale non trovato</div>`;
            });
    }
</script>
