
@{
    ViewBag.Title = "VenditePerCliente";
}

<h2>VenditePerCliente</h2>



<label>Inserisci il codice fiscale per il quale vuoi controllare le vendite</label>
<input id="searchcf" type="text" />
<input type="button" id="searchbtn" value="Cerca" />
<div id="results"></div>



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchbtn').click(function () {
                $('#results').html("");
                $.ajax({
                    url: '/MedicinaliVenduti/SellforCf',
                    type: 'GET',
                    data: { cf: $('#searchcf').val() },
                    success: function (data) {
                        console.log(data)
                        $.each(data, function (index, value) {
                            var content = "<div>" +
                                "<h4>" + value.Nome + "</h4>" +
                                "<p><strong>Ditta Fornitrice:</strong> " + (value.DittaFornitrice || "Non specificato") + "</p>" +
                                "<p><strong>Uso Possibile:</strong> " + (value.UsoPossibile || "Non specificato") + "</p>" +
                                "</div>";
                            $("#results").append(content);
                        });
                    },
                });
            });
        });

    </script>
}