@{
    ViewBag.Title = "Index";
}

<style>
    label,
    h2 {
        color: rgb(4, 116, 124);
    }
</style>

<div class="container mt-4 ">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Inserisci Animale</h2>
                    @using (Html.BeginForm())
                    {
                        <div class="mb-2">
                            <label>Nome:</label>
                            <input type="text" name="Nome" class="form-control" />
                        </div>
                        <div class="mb-2">
                            <label>Tipologia:</label>
                            <input type="text" name="Tipologia" class="form-control" />
                        </div>
                        <div>
                            <label>Colore mantello:</label>
                            <input type="text" name="ColoreMantello" class="form-control" />
                        </div>
                        <div class="mb-2">
                            <label>Data di Nascita:</label>
                            <input type="date" name="DataNascita" class="form-control" />
                        </div>
                        <div class="mb-2">
                            <label>Microchip:</label>
                            <input type="radio" id="microchipYes" name="Microchip" value="true" />
                            <label for="microchipYes">Sì</label>
                            <input type="radio" id="microchipNo" name="Microchip" value="false" />
                            <label for="microchipNo">No</label>
                        </div>
                        <div class="mb-2">
                            <label>Numero Microchip:</label>
                            <input type="number" name="NumeroMicrochip" class="form-control" />
                        </div>
                        <div class="mb-2">
                            <label>Nome del proprietario:</label>
                            <input type="text" name="NomeProprietario" class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label>Cognome del proprietario:</label>
                            <input type="text" name="CognomeProprietario" class="form-control" />
                        </div>
                        <button class="btn btn-custom mt-3">Registra</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
